<!DOCTYPE html>
<html><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Photography Locator</title>
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="static/dist/leaflet.css">
    <link rel="stylesheet" href="static/photoLocate.css">
  </head>
  <body>
   
    
    Image url:
    <input type="text" name="url" id="url" size="50" />
    <input type="button" value="Submit" onclick="loadImage()"/>
    <br/>
    
    <div id="map" style="height: 500px;width: 50%"> </div>
    <div id="image"  style="height: 500px;width: 50%"> </div>
    
    
    <br/>
    <input id="launchButton" disabled="disabled" type="button" value="Go!" onClick="startCompute()"/>
    <div id="message"></div>
    <script src="static/dist/leaflet.js"></script>
    <script src="static/bingMap.js"></script>
    <script src="static/apiKeys.js"></script>
    <script src="static/photoLocate.js"></script>
  </body>
</html>
